.un {
    margin-left: 23px;
}
.deux{
    margin-left: 59px;
}

.t1 {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color:rgb(0, 0, 0, 0.500);
    font-size: 20px; 
    margin:10px;
    font-weight: 600;
}
.t2 {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color:rgba(49, 49, 49, 0.7);
    font-size: 15px; 
    text-decoration-line: none;
    font-weight: 600;

}

.t3 {
    color:rgb(255, 187, 0);
}
.container {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.row { 
    border-radius: 4px;
    background: #ffffff;  
    background-color: rgba(255, 255, 255, 0.7);
    width:100%;
    border:solid;
    border-color: rgba(111, 111, 111, 0.7);
    border-width: 0.05em;
    width: 30em;
    padding: 2em;
}
.rowtwo { 
    
    border-radius: 4px;
    background: #fdfdfd;
    box-shadow:  25px 25px 63px #cbcbcbb7,
             -25px -25px 63px #ffffff;
    padding:10px;
    border-style:solid;
    border-width: 0.1em;
    border-color: rgba(168, 168, 168, 0.2);
 
}

.in {
    
	border: none;
	padding:auto;
	width: 60%;
    border-radius: 4px;
    outline: none;
    color:rgba(0, 0, 0, 0.647);
    background-color: rgba(196, 196, 196, 0.4);
  
}

.button {
    outline:none;
    cursor: pointer;
    width:fit-content;
    box-shadow:  -8px 14px 4px #0000004e;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-width: 0.01em;
    border-radius: 4px;
 }

 .red {
    background-color: rgba(252, 252, 252, 0.5);
    box-shadow:  -8px 15px 12px #0000006a;
 }
 .red:hover, .red:active {
    background-color: rgba(198, 198, 198, 0.7);
}
.txt{
    padding: 4px;
    border-style: dotted;
    border-width: 0.1em;
    border-radius: 4px;
    color:white;
    text-decoration: none;;
}
