<div class="container">
    <div class="row">
        <form>
            <div class = "t0">register</div>
                <div>
                    <input autocomplete="new-username" [(ngModel)]="username" class="in" type="text" id ="username" name="username" placeholder="username...">
                </div>
                 <div>
                    <input autocomplete="new-email" [(ngModel)]="email" class="in" type="email" id ="email" name="email" placeholder="email...">
                </div>
                <div>
                    <input autocomplete="new-password" [(ngModel)]="password" class="in" type="password" id ="password" name="password" placeholder="password...">
                </div>
                <div>
                    <input autocomplete="new-confirmpassword" [(ngModel)]="confirmpassword" class="in" type="password" id ="confirmpassword" name="confirmpassword" placeholder="confirmpassword...">
                </div>
                    <button class = "t1 button"(click)="register()" type="submit">connexion</button>
                <p class = "t2">already a account ?<a class = "t2" href = "login">Login</a></p>
        </form>
    </div>
</div>