<div>
    <div *ngIf="isAdm">
        <label>title</label><input type="text" class="in"  value="">
        <label>description</label><input type="text" class="in"  value="">
        <label>price</label><input type="text" class="in"  value="">
        <img [src]="url" title="insert product" height="100px" width="100px" />
        <label>image</label><input type="file" id="img" accept="image/*" (change)="onSelect($event)" >
        <button type = "button">add product</button>
    </div>
    
    <div *ngFor="let product of products">
        <div class = a>
            <app-product [item]="product"></app-product>        
        </div>
    </div>
</div>
