.container {
    background: #f5f5f5;
    padding: 10px;
    border-radius:5px ;
    width:fit-content;
    border-style:outset;
    border-width: 2px;
    border-color: rgba(168, 168, 168, 0.2);
    
}