<div class ="sup-container">
	<div class="container">
		<select (change)="tableSizeChange($event)">
			<option *ngFor="let size of tablesizes">{{size}}</option>
		</select>
		<div class ="label-container">
			<div class = "font label1">
				ID
			</div>
			<div class = "font label2">
				NAME
			</div>
			<div class = "font label3">
				EMAIL
			</div>
			<div class = "font label4">
				ROLE
			</div>
		</div>
		<div *ngFor="let user of users | paginate: {
                itemsPerPage: tablesize,
                currentPage: page,
                totalItems: count }">
			<div class = a>
				<app-dashboard [account]="user"></app-dashboard>
			</div>
		</div>
		<pagination-controls previousLabel="Prev"
                         nextLabel="Next"
                         (pageChange)="tablechange($event)">
    </pagination-controls>
	</div>
</div>
  