<div class = navbar>
	<ul>
		<div class = 't title'>
			ESHOP OF COLORS
		</div>
		<li><a class = 't nb' href="contact">Contact</a></li>
		<li><a class = 't nb' href="products">Products</a></li>
		<li *ngIf="isLog"><a class = 't nb' href="bucket">Bucket</a></li>
		<li *ngIf="!isLog"><a class = 't nb' href="login">Login</a></li>
		<li *ngIf="isLog"><a class = 't nb' href='profile'>Profile</a></li>
		<li *ngIf="isAdm"><a class = 't nb' href="dashboard">dashboard</a></li>
		<li *ngIf="isLog"><a class = 't nb' (click)='logout()'>Logout</a></li>
	</ul>
</div>