   
        <div class = "sup-container">
        <div><div class = "txt">ID:</div><div class = "contain1">{{account.id}}</div></div>     
        <div><div class = "txt">NAME:</div><div class = "contain2">{{account.name}}</div></div>
        <div><div class = "txt">EMAIL:</div><div class = "contain3">{{account.email}}</div></div>
        <div><div class = "txt">ROLE:</div><div class = "contain4">{{account.role}}</div></div>
        <button class = "button yellow" type="button"(click)="showAcc()" >Show account</button>
        <button class = "button red" type="button" (click)="deleteAcc($event)">delete account</button>
        
        </div>
     

