<div class="container">
    <div class="row">
        <form>
            <div class = "txt f">REGISTER</div>
                <div class = "f msgprofile">

                        <div>
                        <label class="labels f" for="name">username:</label>
                        <input class="form-control f" type="text" id ="name" name="name" placeholder="username...">
                        </div>

                        <div>
                        <label class="labels f" for="email">Email:</label>
                        <input class="form-control f" type="email" id ="email" name="email" placeholder="email.">
                        </div>

                        <div>
                        <label class="labels f" for="password">password:</label>
                        <input class="form-control f" type="password" id ="password" name="password" placeholder="password...">
                        </div>

                        <div>
                        <label class="labels f" for="confirmpasswordl">confirm password:</label>
                        <input class="form-control f" type="confirmpassword" id ="confirmpassword" name="confirmpassword" placeholder="confirm password...">
                        </div> 

                    <button class = "profile-button f" type="submit">update</button>

                </div>
        </form>
    </div>
</div>
