<div>
    <form>
        <div *ngFor="let inf of info; let i = index">
            <div>
                {{inf.username}}
            </div>
            <div>
                {{inf.email}}
            </div>
            <div>
                {{inf.password}}
            </div>
            <div>
                <button (click)="updateProfile(inf)">update profile</button>
            </div>
            <div>
                <button (click)="deleteProfile(inf, i)">delete profile</button>
            </div>     
        </div>
    </form>
</div>